{% extends "base.html" %}
{% block brand %}{{ brand|e }}{% endblock %}
{% block title %}{{ title|e }}{% endblock %}

{% block rss %}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ rss }}" />
{% endblock %}

{% block edit_url %}{{ edit_url }}{% endblock %}

{% macro sidebar_tree(children, parent_opened) %}
  {% for child in children %}
    {% if child.is_node %}
      <li {{ 'style="display: none"' if not parent_opened }} class="parent_li {{ 'active' if child.opened }}">
        <span onclick="tree_onclick.call(this, event)"><i class="glyphicon {{ 'glyphicon-minus' if child.opened else 'glyphicon-plus' }}"></i></span>
        {% if child.href %}
          <a href="{{ child.href }}">{{ child.title|e }}</a>
        {% else %}
          {{ child.title|e }}
        {% endif %}
        <ul>
          {{ sidebar_tree(child.children, child.opened) }}
        </ul>
      </li>
    {% else %}
      <li {{ 'style="display: none"' if not parent_opened }}>
        {% if child.href %}
          <a href="{{ child.href }}">{{ child.title|e }}</a>
        {% else %}
          {{ child.title|e }}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% block sidebar %}
<div class="tree">
  <ul>
    {{ sidebar_tree(sidebar.children, True) }}
  </ul>
</div>
{% endblock %}

{% block content_header %}
  <ol class="breadcrumb">
    {% for header in content_header.headers %}
      <li {{ 'class="active"' if header.is_active }}>
        {% if not header.is_active and header.href %}
          <a href="{{ header.href }}">{{ header.title|e }}</a>
        {% else %}
          {{ header.title|e }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endblock %}

{% block body %}
  {{ body|safe }}
{% endblock %}

{% block search %}
  {{ search|safe }}
{% endblock %}

{% block analytics %}
  {{ analytics|safe }}
{% endblock %}
